// Fuentes
$font-title: "Raleway", sans-serif;
$font-text: "Quicksand", sans-serif;

// Colores
$dark: #07070a;
$light: #dcd6f7;
$blue: #188fa7;

// --- Mixins ---
@mixin alignWidthFlex($horizontal, $vertical, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

.row-table {
  width: 100%;
  min-height: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__id {
    padding: 10px;
    @include alignWidthFlex(flex-start, center, row);
    box-sizing: border-box;
    font-weight: 700;
    font-family: $font-title;
  }

  &__name {
    width: 100%;
    min-width: 114px;
    padding: 10px;
    @include alignWidthFlex(flex-start, center, row);
    box-sizing: border-box;
    font-family: $font-text;
    text-align: justify;
    overflow-wrap: break-word;
  }

  &__button {
    width: 100%;
    @include alignWidthFlex(space-around, center, row);

    img {
      width: 25px;
      cursor: pointer;
    }
  }
}
