// Fuentes
$font-title: "Raleway", sans-serif;
$font-text: "Quicksand", sans-serif;

// --- Mixins ---
@mixin alignWidthFlex($horizontal, $vertical, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

.container-page-not-found {
  width: 100%;
  height: 80vh;
  @include alignWidthFlex(center, center, row);

  h1 {
    font-family: $font-title;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
  }
}
